{
  "type": "kafka",
  "spec": {
    "ioConfig": {
      "type": "kafka",
      "consumerProperties": {
        "bootstrap.servers": "kafka-headless-service:9092",
        "security.protocol": "SASL_PLAINTEXT",
        "sasl.mechanism": "SCRAM-SHA-512",
        "sasl.jaas.config": "org.apache.kafka.common.security.scram.ScramLoginModule required username=\"__KAFKA_USERNAME__\" password=\"__KAFKA_PASSWORD__\";"
      },
      "topic": "{{ kafkaDbIngestionTopic }}",
      "inputFormat": {
        "type": "kafka",
        "valueFormat": {
          "type": "json"
        }
      },
      "useEarliestOffset": true,
      "appendToExisting": true
    },
    "tuningConfig": {
      "type": "kafka",
      "logParseExceptions": true,
      "maxSavedParseExceptions": 10,
      "partitionsSpec": {
        "type": "dynamic"
      }
    },
    "dataSchema": {
      "dataSource": "{{ dbTableName }}",
      "timestampSpec": {
        "column": "timestamp_start",
        "format": "auto"
      },
      "dimensionsSpec": {
        "dimensions": [
          {% for name,elem in druid_cols.items() -%}
          {
            "name": "{{name}}",
            "type": "{{elem["type"]}}"
          }{% if not loop.last -%},{% endif %}
          {% endfor %}
        ]
      },
      "metricsSpec": [
        {
          "type": "longSum",
          "name": "bytes",
          "fieldName": "bytes"
        },
        {
          "type": "longSum",
          "name": "packets",
          "fieldName": "packets"
        }
      ],
      "granularitySpec": {
        "queryGranularity": "none",
        "rollup": false,
        "segmentGranularity": "hour"
      }
    }
  }
}
